/********************
IMPORTS - slows down site loading
*******************/
@import url('accessibility.css');
@import url('card-styles.css');
@import url('holy-grail.css');
@import url('masthead.css');
@import url('typography.css');
@import url('all-together.css');
@import url('reset.css');


/********************
YOUR STYLES
*******************/
.lg-backdrop {
  background-color: #ffea01;
}

.lg-image {
  border-radius: 10px;
}

.footer-area {
  text-align: center;
  font-size: .75em;
  letter-spacing: 1px;
  margin: auto;
  padding: 1em;
  color: white;
  background: black;
}

h1 {
	font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 700;
}

h2 {
  	font-family: 'Ubuntu', Arial, sans-serif;
}

p {
  	font-family: 'Tinos', Times, serif;
  text-align: center;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {
 
}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}